@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.stickyCSSClass {
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  z-index: 50;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation-duration: 0.5s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
}
